.product-list
{
  padding:20px 0;
}
.product{
display: flex;
  align-items:center;
  cursor:pointer;
  }
.product img
{
width:70px;
  height: 70px;
  object-fit:cover;
  }
.product .p-details
{
  padding-left:15px;
}
.product .p-details h3
{
  font-size:20px;
  color: #1d1d1d;
}
.product .p-details h4
{
  font-size:18px;
}
